<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <springProfile name="!local">
        <appender name="JSON_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <fieldNames>
                    <timestamp>timestamp</timestamp>
                    <version>[ignore]</version>
                    <levelValue>[ignore]</levelValue>
                </fieldNames>
                <includeContext>false</includeContext>
                <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
                    <maxDepthPerCause>20</maxDepthPerCause>
                    <rootCauseFirst>true</rootCauseFirst>
                </throwableConverter>
            </encoder>
        </appender>

        <root level="INFO">
            <appender-ref ref="JSON_CONSOLE"/>
        </root>

        <logger name="com.example.weatherproxy" level="INFO"/>
        <logger name="org.springframework.web" level="WARN"/>
        <logger name="reactor.netty" level="WARN"/>
    </springProfile>

    <springProfile name="local">
        <appender name="PLAIN_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%d{HH:mm:ss.SSS} %highlight(%-5level) [%X{requestId:-no-id}] %cyan(%logger{36}) - %msg%n</pattern>
            </encoder>
        </appender>

        <root level="INFO">
            <appender-ref ref="PLAIN_CONSOLE"/>
        </root>

        <logger name="com.example.weatherproxy" level="DEBUG"/>
        <logger name="org.springframework.web" level="INFO"/>
        <logger name="reactor.netty" level="WARN"/>
    </springProfile>

</configuration>
